.video-js {
    font-size: 10px;
    color: #fff;
  }
  
  .vjs-default-skin .vjs-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height: 1.5em;
    width: 3em;
    border: 0.06666em solid #fff;
    border-radius: 0.3em;
  }
  
  .video-js .vjs-control-bar,
  .video-js .vjs-big-play-button,
  .video-js .vjs-menu-button .vjs-menu-content {
    /* IE8 - has no alpha support */
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Slider - used for Volume bar and Progress bar */
  .video-js .vjs-slider {
    background-color: #545454;
    background-color: rgba(84, 84, 84, 0.5);
  }
  
  .video-js .vjs-volume-level,
  .video-js .vjs-play-progress,
  .video-js .vjs-slider-bar {
    background: #fff;
  }
  
  .video-js .vjs-load-progress {
    background: #949494;
    background: rgba(84, 84, 84, 0.5);
  }
  
  .video-js .vjs-load-progress div {
    background: #d4d4d4;
    background: rgba(84, 84, 84, 0.75);
  }
  
  .video-js .vjs-control-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }